h1 {
    text-align: center;
    
}

div {
    background-color: yellow;
    border: 1px solid black;
}
body {
    background-image: url("../images/uclstadium.jpg");
    
    background-position: center;
}