h1 {
    text-align: center;
}

#title {
   /* border-bottom: 2px solid black; */
   background-color: brown;
   color: blue;
   background: rgb(131,58,180);
   background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
#add {
    text-align: justify;
    
}
th, td {
    font-weight: 100;
}



